coloca uma imagem no body
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    color: black;
}

header {
    background: transparent;
    padding: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    font-size: 1.5rem;
}

nav a {
    margin-left: 50px;
    text-decoration: none;
    color: #000000;
    font-weight: bold;
}

nav a.ativo {
    border-bottom: 2px solid #000000;
}

main {
    text-align: center;
    padding: 50px 10px;
    background: url("https://source.unsplash.com/1600x900/?burger,restaurant") no-repeat center/cover;
    color: rgb(108, 51, 51);
    position: relative;
}

main::before {
    content: "";
    position: absolute;
    inset: 0;
    background: transparent;
    z-index: 0;
    pointer-events: none;
}

main h2,
.descricao-cardapio,
.cta-btn {
    position: relative;
    z-index: 1;
}

main h2 {
    font-size: 2rem;
    margin-bottom: 15px;
}

.descricao-cardapio {
    font-size: 1.1rem;
    max-width: 600px;
    margin: 0 auto 20px;
}

.cta-btn {
    display: inline-block;
    background-color: #ffcc00;
    color: #333;
    padding: 12px 25px;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 25px;
    margin-top: 20px;
    text-decoration: none;
    transition: transform 0.2s ease, background-color 0.3s;
}
.cta-btn:hover {
    transform: scale(1.05);
    background-color: #ffb700;
}

footer {
    background: transparent;
    color: rgb(160, 51, 51);
    text-align: center;
    padding: 5px;
    margin-top: 195px;
}

@media (max-width: 768px) {
    header {
        flex-direction: column;
        text-align: center;
    }
    nav a {
        display: inline-block;
        margin: 10px 5px;
    }
}
