* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f7f3e9;
}

header {
    background-color: #d35400;
    color: white;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav a {
    margin: 0 10px;
    text-decoration: none;
    color: white;
}

#carrinho-icon {
    cursor: pointer;
}

main {
    padding: 20px;
}

.produtos {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 20px;
}

.produto {
    background: white;
    padding: 15px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.produto img {
    max-width: 70%;
    border-radius: 10px;
}

.produto button {
    background-color: #d35400;
    color: white;
    border: none;
    padding: 8px 12px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 5px;
}

.produto button:hover {
    background-color: #e67e22;
}

#carrinho {
    position: fixed;
    top: 0;
    right: -300px;
    background: white;
    width: 300px;
    height: 100%;
    box-shadow: -2px 0 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
    transition: 0.3s;
}

#carrinho.mostrar {
    right: 0;
}

#lista-carrinho li {
    margin: 10px 0;
    font-size: 14px;
}

footer {
    background-color: #d35400;
    color: white;
    padding: 10px;
    text-align: center;
}